<% include ./partials/header.ejs %>

<div class="container">
         <header class="jumbotron">
         <div class="container">
             <h1>Welcome To My Voting App</h1>
             <p>Create cumtom polls with live results.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></a>
                <a class="btn btn-success btn-large" href="/allpolls">View All Polls</a>
             </p>
         </div>
     </header>
        
</div>
    <div class="container center">
            <div class='features row'>
                <div class='feature col-md-4'>
                    <i class='fa fa-smile-o' style="font-size:100px;color:yellow;text-shadow:2px 2px 4px #000000;"></i>
                    Free & 
                    <i class='fa fa-bolt' style="font-size:100px;color:yellow;text-shadow:2px 2px 4px #000000;"></i>
                    Fast
                    <div class='expand'>
                       100% free (no need to pay a penny) and optimized to be fast.
                    </div>
                </div>
               <div class='feature col-md-4'>
                    <i class='fa fa-twitter' style="font-size:100px;color:#00aced;text-shadow:2px 2px 4px #000000;"></i>
                    Shareable
                    <div class='expand'>
                        Your poll is optimized for Twitter. This ensures maximum social engagement, spread the love for your poll and share it with your friends.
                    </div>
                </div>
            
                <div class='feature col-md-4'>
                    <i class='fa fa-mobile' style="font-size:100px;color:black;text-shadow:2px 2px 4px #000000;"></i>
                    Mobile Optimized
                    <div class='expand'>
                        People are using mobile devices nowadays, that is why my polls are responsive. This means they work great on every device.
                    </div>
                </div>
                
              
            
            </div>
    </div>

<% include ./partials/footer.ejs %>
